---
---

@import "normalize";
@import "typebase";

// https://colorhunt.co/palette/180289
$light: #dae1e7;
$dark: #27496d;
$veryDark: #142850;
$active: #00909e;

html {
  font-size: 105%;
}

p {
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 1.5rem;
}

h2 {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-top: 1.5rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-top: 1.5rem;
}

@media (min-width:768px) {
  .page {
    width: 75%;
  }
  p {
    margin-top: 1.5rem;
  }
  h1 {
    font-size: 4.242rem;
    line-height: 4.5rem;
    margin-top: 3rem;
  }
  h2 {
    font-size: 2.828rem;
    line-height: 3rem;
    margin-top: 3rem;
  }
  h3 {
    font-size: 1.414rem;
  }
}

body {
  background-color: $light;
  color: $veryDark;
  margin: 30px;
  font-family: acumin-pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

a {
  color: $active;
  &:hover {
    color: $light;
    background-color: $active;
  }
}

h1 a {
  color: $veryDark;
  text-decoration: none;
  &:hover {
    color: $veryDark;
    background-color: transparent;
  }
}