---
title: What I'm doing now
---
{% include header.html title="What I'm doing now" %}

<p class="my-2">
    Updated May 20th, 2024, from my home in Switzerland.
</p>

<p class="my-2">I live and work in Zürich.</p>

<p class="my-2">
    I am part of the team that creates cutting edge trading tools for the leading
    Swiss private bank, {% include link.html text="Julius Bär" href="https://www.juliusbaer.com" %} in the beautiful
    city of {% include link.html text="Zurich" href="https://www.zuerich.com/en" %}.
</p>

<p class="my-2">I'm currently reading the following books:</p>
<ul class="px-4">
    <li class="list-disc">{% include link.html text="Clear Thinking by Shane Parrish" href="https://amzn.to/4ayDKEL" %}
    </li>
    <li class="list-disc">{% include link.html text="The Pragmatic Programmer (20th Anniversary Edition) by David Thomas
        and Andrew Hunt" href="https://amzn.to/4aDAoQI" %}</li>
    <li class="list-disc">{% include link.html text="Leadership and Self-Deception, Getting out of the box by The
        Arbinger Institute" href="https://amzn.to/4aC1ZBK" %}</li>
</ul>


<p class="my-2">I'm taking part in the {% include link.html text="Swiss Irontrail T20" href="https://www.irontrail.ch/"
    %} end of June 2024. </p>

<p class="my-2">I'm studying the popular frontend frameworks {% include link.html text="Next.js"
    href="https://nextjs.org/" %} and {% include link.html text="Vite" href="https://vitejs.dev/" %} and making first
    contact with {% include link.html text="GraphQL" href="https://graphql.org/" %}.</p>

{% include h2.html text="Sacool.ch" %}
<p class="my-2">As a long term and personal side project I'm building an exercise generator for Swiss primary schools
    called {%
    include link.html text="Sacool"
    href="https://www.sacool.ch" %}. Useful for teachers who effortlessly want to occupy eager pupils with tailored
    exercise sheets.</p>

{% include h2.html text="Wordpress" %}
<p class="my-2">I help out and maintain several private and and non-profit Wordpress websites.</p>