@import "normalize";
@import "typebase";

$secondary: #fff;
$black: #000;
$primary: #1b02ee;

html {
  font-size: 105%;
}

p {
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 0;
}

@media (min-width:768px) {
  .page {
    width: 75%;
  }
  p {
    margin-top: 1.5rem;
  }
}

body {
  background-color: $secondary;
  color: $black;
  margin: 30px;
  font-family: acumin-pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

a {
  color: $primary;
  text-decoration: underline;
  &:hover {
    color: $secondary;
    background-color: $primary;
  }
}

h1 a {
  color: $primary;
  text-decoration: none;
  &:hover {
    color: $primary;
    background-color: transparent;
  }
}

input[type=checkbox] {
  margin-right: 0.25rem;
}

blockquote {
  font-style: italic;

  p:before {
    content: "\""
  }

  p:after {
    content: "\""
  }
}
