<!DOCTYPE html>
<html lang="EN" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ site.data.site.name }} - {{ page.title }}</title>
    <link rel="manifest" href="site.webmanifest">
    <link rel="canonical" href="{{ site.data.site.host }}">
    <meta name="description" content="{{ page.description }}">
    <meta name="og:title" property="og:title" content="{{ site.data.site.name }} - {{ page.title }}">
    <meta name="og:description" property="og:description" content="{{ page.description }}">
    <meta name="og:image" property="og:image" content="{{ site.data.site.host }}/assets/img/thomas-junghans_web_sw.jpg">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@tangiblej" />
    <link rel="stylesheet" href="/dist/main.css" />
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "{{ site.data.site.name }}",
        "givenName": "Thomas",
        "familyName": "Junghans",
        "additionalName": "TJ",
        "email": "{{ site.data.site.email }}",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Zurich",
          "addressRegion": "ZH",
          "addressCountry": "CH"
        },
        "knowsLanguage": ["de", "en"],
        "nationality": ["CH", "ZA"]
      }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-155314498-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-155314498-1");
    </script>
  </head>
  <body>
    <div class="page">
      {{ content }}
    </div>
  </body>
</html>
